
*.userprefs
*.xml
*.userprefs
gameOfLife/gameOfLife/gameOfLife.userprefs
*.ide-shm
game/.vs/game/v15/Server/sqlite3/storage.ide-shm
game/.vs/game/v15/Server/sqlite3/storage.ide
*.ide
game/.vs/game/v15/.suo
game/.vs/game/v15/Server/sqlite3/storage.ide-wal
.DS_Store
*.txt
*.cache
*.txt
